.main-home {
  height: 100vh;
  background-color: white;
}

.main-home h2 {
  font-size: 30px;
  color: #ff0000;
}
.main-home span {
  color: #282828;
}
.video-list {
  grid-area: videoList;
}
.searcher-form {
  grid-area: searcher;
  width: 100%;
  margin: auto auto 20px;
  padding: 10px 0;
  background-color: white;
}
.searcher-field {
  width: 75%;
  max-width: 600px;
}

.searcher-form .searcher-field {
  margin-right: 10px;
}

.youtube-video {
  grid-area: youtubeVideo;
}

.searcher-search {
  width: 75%;
}

.searcher-form .searcher-search {
  margin-right: 10px;
}

.home-video-content {
  padding-top: 20px;
  width: 100%;
  background-color: #ff6565;
}

/* HELPERS */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}

.column {
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

/* VIDEO PREVIEW */
.video-preview-card {
  width: 40vw;
  /* background-color: rgba(128, 128, 128, 0.226); */
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 35px;
  border-radius: 5px;
}
.video-preview-card:hover {
  background-color: rgba(190, 190, 190, 0.116);
}

.video-preview-card p {
  color: rgba(0, 0, 0, 0.904);
  font-size: 14px;
  padding: 0px;
  cursor: pointer;
}

.video-preview-card p:hover {
  color: rgb(0, 0, 0);
}
.video-preview-card img {
  width: 250px;
  cursor: pointer;

  margin-bottom: 5px;
}
.video-preview-card span {
  color: rgba(128, 128, 128, 0.329);
  font-size: 13px;
}
.video-preview-card span:hover {
  color: rgba(53, 52, 52, 0.575);
}

.video-list-container {
  width: 45vw;
  min-width: 571px;
  /* padding: 20px 0px; */
  /* height: 80vh; */
}

.video-details-container {
  padding: 0px 15px;
  margin-top: -14px;
}
